/* Estilos generales */
body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
   background: linear-gradient(90deg, #d17f3be5, #d17f3be5);
  color: #f3f3fa;}
/* Header */
header {
  background: linear-gradient(90deg,  #443f3a, #4b2400);
  color: white;
  text-align: center;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
}


header h1 {
  cursor: pointer;
  transition: transform 0.3s;
}

header h1:hover {
  transform: scale(1.1);
}

/* Navegación */
nav a {
  margin: 0 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background: #2196F3;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0b79d0;
}
.contenedor{
  text-align: left;
  height: 1px;
  width: 150px
}

.contenedor1{
  text-align: center;
  height: 1;
 width: 1;
  
}

.contenedor5{
  text-align: right;
height: 1px;
  width: 1850px;
}

button1 {
  background: #01223d;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animado {
  color: red;
  font-weight: bold;
  animation: parpadeo 1.5s infinite;
}

@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Galería */
.galeria {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px;
}

.galeria img {
  border-radius: 10px;
  transition: transform 0.5s;
}

.galeria img:hover {
  transform: rotate(5deg) scale(1.1);
}

/* Formulario */
form {
  background: #969184;
  padding: 15px;
  margin: auto;
  width: 30%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px gray;
}

input, textarea {
  width: 45%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


/* Footer */
footer {
  
  text-align: center;
  background: #000000;
  color: white;
  padding: 15px;
  margin-top: 20px;
}